<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Document</title>

</head>

<body>
	<div style="text-align:center">
		<h1>ANGULAR CALCULATOR</h1>
		<input type="number" name="num1" [(ngModel)]="num1">
		<input type="number" name="num2" [(ngModel)]="num2">
		<br>
		<button (click)="add()">Addition </button>
		<button (click)="sub()">Subtraction </button>
		<button (click)="mul()">Multiplication </button>
		<button (click)="div()">Division </button>
		<button (click)="fac()">Factorial</button>
		<button (click)="prime()">Prime </button>


		<br>
		<h3>RESULT: {{num3}}</h3>
		<h3>RESULT FOR PRIME : {{num4 ? "true" : "false"}}</h3>

	</div>
</body>

</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
